services:
  postgres_db:
    image: postgres:13
    environment:
      POSTGRES_USER: commercial_admin
      POSTGRES_PASSWORD: commercial_password
      POSTGRES_DB: commercial_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: